go 1.25.12

use (
	.
	./cmd/tui
	./plugins/containerd
	./plugins/kubernetes
	./plugins/kubevirt
	./plugins/lang-dotnet
	./plugins/lang-go
	./plugins/lang-java
	./plugins/lang-node
	./plugins/lang-php
	./plugins/lang-python
	./plugins/lang-ruby
	./plugins/lang-rust
)
